## OS specific ########
.DS_Store
.fuse_hidden*

## Project files ######
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.cache

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pyc

Python/test.py
